<h2 class="titleFreeCourses">Cursos Pagos</h2>
<div class="containerCourses">
  <div class="courses" *ngFor="let course of paidCourses">
    <p class="courseTitle">{{ course.courseName }}</p>
    <p class="courseDescription">{{ course.description }}</p>
    <p class="courseDescription">{{ course.technologies }}</p>
    <a class="courseLink" href="{{ course.url }}" target="_blank">Ver mais</a>
    <div class="courseInformation">
      <p>Preço: {{ course.price }}</p>
      <p *ngIf="course.hours !== ''">Horas: {{ course.hours }}</p>
    </div>
  </div>
</div>
<hr />
